<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<h1 id="postit"><i>PostIt!ЁЯУЭ</i><i id="copyright">┬оя╕П</i></h1>

<body>
  <div class="nav-bar">
    <p>
      <a href="/users/signup">SIGNUP</a> |
      <a href="/users/login">LOGIN</a> |
      <a href="/users/logout">LOGOUT</a> |
      <a href="/users/profile">PROFILE</a> |
      <a href="/posts/posts">POSTS</a> |
      <a href="/users/admin">ADMIN</a>
    </p>
  </div>
  {{{body}}}
</body>

<br />
<br />

<div id="footnote">BVA TECHNOLOGIES INC.┬оя╕П COPYRIGHT 2021 </div>

</html>