<h1>Welcome! Please Log In!</h1>

<form method="POST" action="/users/login" id="login" name="login">
    <div id="inputs">
        <input type="text" id="username" name="username" placeholder="Username!" />
        <br />
        <input type="password" id="password" name="password" placeholder="Password!" />
    </div>
    <br />
    <div>
        <button type="submit">SUBMIT</button>
    </div>
</form>